[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/dein/repos/github.com/Shougo/dein.vim"]
	path = .vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule ".zsh/.zplug"]
	path = .zsh/.zplug
	url = https://github.com/zplug/zplug
