[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/dein/repos/github.com/Shougo/dein.vim"]
	path = .vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule ".vim/rsense"]
	path = .vim/rsense
	url = https://github.com/rsense/rsense.git
[submodule ".zinit/bin"]
	path = .zinit/bin
	url = https://github.com/zdharma-continuum/zinit.git
